[Unit]
Description=uvicorn kirsa-pos microservice
After=network.target
After=mysql.service
Wants=mysql.service
Requires=mysql.service

[Service]
User=pos
Group=pos
WorkingDirectory=/home/pos/kirsa-pos
Environment="PYTHONPATH=/home/pos/kirsa:/home/pos/kirsa-plugin:/home/pos/kirsa-kkm"
ExecStart=/home/pos/kirsa-pos/env/bin/python3 main.py --uds=kirsa-pos.sock
Restart=always


[Install]
WantedBy=multi-user.target
