[Unit]
Description=uvicorn kirsa-kkmpos microservice
After=network.target

[Service]
User=pos
Group=pos
WorkingDirectory=/home/pos/kirsa-kkmpos
Environment="PYTHONPATH=/home/pos/kirsa-kkmpos:/home/pos/kirsa:/home/pos/kirsa-plugin:/home/pos/kirsa-kkm"
ExecStart=/home/pos/kirsa-kkmpos/env/bin/python3 kkmpos_main.py --uds=kirsa-kkmpos.sock
Restart=always

[Install]
WantedBy=multi-user.target
