[Unit]
Description=uvicorn kirsa-pos microservice
After=network.target
After=mysql.service
Wants=mysql.service
Requires=mysql.service

[Service]
User=pos
Group=pos
WorkingDirectory=/home/pos/kirsa-pos
ExecStart=/home/pos/kirsa-pos/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
