[Unit]
Description=Daphne kirsa backend
After=network.target
After=mysql.service
Wants=mysql.service
Requires=mysql.service

[Service]
User=pos
Group=pos
WorkingDirectory=/home/pos/kirsa
ExecStart=/home/pos/kirsa/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
