[Unit]
Description=Daphne kirsa backend
After=network.target

[Service]
User=pos
Group=pos
WorkingDirectory=/home/pos/kirsa
ExecStart=/home/pos/kirsa/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
