[mysqld]

skip-log-bin
max_binlog_size   = 100M
relay-log = /var/lib/mysql/mysql-relay-bin
relay-log-index = /var/lib/mysql/mysql-relay-bin.index
replicate-do-db = demands27
replicate-ignore-table  = demands27.loutgo
replicate-ignore-table  = demands27.loutgopos
replicate-ignore-table  = demands27.lincome
replicate-ignore-table  = demands27.lincomepos
replicate-ignore-table  = demands27.lbalance
replicate-ignore-table  = demands27.kirsa_outgopos
replicate-ignore-table  = demands27.kirsa_outgo
replicate-ignore-table  = demands27.nashcart_cart
replicate-ignore-table  = demands27.nashcart_item
replicate-ignore-table  = demands27.kirsa_rashodorderext
replicate-ignore-table  = demands27.tran
replicate-ignore-table  = demands27.payment
slave-skip-errors = 1062,1032,1356

interactive_timeout = 604800
mysqlx_interactive_timeout = 604801

wait_timeout = 604802
mysqlx_wait_timeout = 604803
replica_parallel_workers = 1

