[mysqld]

skip-log-bin
max_binlog_size   = 100M
relay-log = /var/lib/mysql/mysql-relay-bin
relay-log-index = /var/lib/mysql/mysql-relay-bin.index
replicate-do-db = demands27
replicate-ignore-table  = demands27.loutgo
replicate-ignore-table  = demands27.loutgopos
replicate-ignore-table  = demands27.lincome
replicate-ignore-table  = demands27.lincomepos
replicate-ignore-table  = demands27.lbalance

replicate-ignore-table=demands27.kirsa_outgopos 
replicate-ignore-table=demands27.kirsa_outgo 
replicate-ignore-table=demands27.op 
replicate-ignore-table=demands27.iop 
replicate-ignore-table=demands27.opip 
replicate-ignore-table=demands27.outgo 
replicate-ignore-table=demands27.outgo_sum 
replicate-ignore-table=demands27.nashcart_cart 
replicate-ignore-table=demands27.nashcart_item 
replicate-ignore-table=demands27.kirsa_rashodorderext 
replicate-ignore-table=demands27.tran 
replicate-ignore-table=demands27.payment 
replicate-ignore-table=demands27.kirsa_fskiz 
replicate-ignore-table=demands27.kirsa_edodocument 
replicate-ignore-table=demands27.kirsa_audit 
replicate-ignore-table=demands27.kirsa_audit_goods 
replicate-ignore-table=demands27.kirsa_audititem 
replicate-ignore-table=demands27.kirsa_auditadjustment 
replicate-ignore-table=demands27.kirsa_auditfact
replicate-ignore-table=demands27.demand 
replicate-ignore-table=demands27.demand_line 
replicate-ignore-table=demands27.enter 
replicate-ignore-table=demands27.audit_alco_amc 
replicate-ignore-table=demands27.log_data 
replicate-ignore-table=demands27.log_connectionuser 
replicate-ignore-table=demands27.debts 
replicate-ignore-table=demands27.kirsa_egaisdocument 
replicate-ignore-table=demands27.kirsa_egaisaction 
replicate-ignore-table=demands27.items 
replicate-ignore-table=demands27.balance 
replicate-ignore-table=demands27.kirsa_uploadtosbis 
replicate-ignore-table=demands27.tickets_status 
replicate-ignore-table=demands27.tickets_subject 
replicate-ignore-table=demands27.tickets_ticket 
replicate-ignore-table=demands27.time_intervals 
replicate-ignore-table=demands27.producer 
replicate-ignore-table=demands27.product_item 
replicate-ignore-table=demands27.promocodes_promo 
replicate-ignore-table=demands27.promocodes_promoused 
replicate-ignore-table=demands27.props 
replicate-ignore-table=demands27.proptype 
replicate-ignore-table=demands27.replacement 
replicate-ignore-table=demands27.route 
replicate-ignore-table=demands27.route_to_agent 
replicate-ignore-table=demands27.routes 
replicate-ignore-table=demands27.saldo 
replicate-ignore-table=demands27.scripts 
replicate-ignore-table=demands27.explorer_query 
replicate-ignore-table=demands27.explorer_queryfavorite 
replicate-ignore-table=demands27.explorer_querylog 
replicate-ignore-table=demands27.dltu 
replicate-ignore-table=demands27.etran 
replicate-ignore-table=demands27.view_balance 
replicate-ignore-table=demands27.vbtu 
replicate-ignore-table=demands27.kirsa_ignorenovelty 
replicate-ignore-table=demands27.kirsa_import 
replicate-ignore-table=demands27.fuelcard_auto
replicate-ignore-table=demands27.fuelcard_card 
replicate-ignore-table=demands27.fuelcard_cardhold 
replicate-ignore-table=demands27.fuelcard_check 
replicate-ignore-table=demands27.fuelcard_fueltype 
replicate-ignore-table=demands27.kirsa_recognizetask 
replicate-ignore-table=demands27.kirsa_recognizetaskimage 
replicate-ignore-table=demands27.actions 



slave-skip-errors = 1062,1032,1356,1396

interactive_timeout = 604800
mysqlx_interactive_timeout = 604801

wait_timeout = 604802
mysqlx_wait_timeout = 604803
replica_parallel_workers = 1

